body {
   background-color: #e3e3e3;
   padding: 20px 40px;
}

.entry {
   /* padding: 5px; */
  background-color: white;
   margin: 0;
   border-top: 1px solid #e5e5e5;
}

/* .entry:first-child { */
/*     border-radius: 7px 7px 0 0; */
/* } */
/* .entry:last-child { */
/*     border-radius: 0 0 7px 7px; */
/* } */

#content {
    width: 900px;
}

a#next {
   visibility: hidden;
}

.entry div {
  padding: 5px 0;
}

.entry div.time {
    color: #aaa;
    padding-right: 5px;
    /* display: inline-block; */
    width: 146px;
    text-align: right;
    float: right;
}

.entry div.author {
    /* padding: 0; */
    font-style: italic;
    /* display: inline-block; */
    width: 75px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}

.entry div.msg {
    padding-left: 7px;
    margin-left: 85px;
    background-color: #f5f5f5;
    border-left: 1px solid lightgray;
   /* display: inline-block; */
   /* width: 600px; */
}
